version: "3.8"

services:
  database-test:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER_TEST}
      POSTGRES_PASSWORD: ${DB_PASSWORD_TEST}
      POSTGRES_DB: ${DB_NAME_TEST}
    ports:
      - 5432:${DB_PORT_TEST}

  database-dev:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER_DEV}
      POSTGRES_PASSWORD: ${DB_PASSWORD_DEV}
      POSTGRES_DB: ${DB_NAME_DEV}
    ports:
      - 5432:${DB_PORT_DEV}
